Package: backon
Name: BackOn
Version: 53
Architecture: iphoneos-arm
Description: Backup the jailbroken iOS device.
Section: Utilities
Depends: zip, unzip, coreutils, coreutils-bin, apt7, rsync, system-cmds, wget
